# Table 1

In [6]:
import pandas as pd

file = "Table1/table-1-8.xlsx"

# To print jut title like all races, asian, white alone etc, just change the file name 
df_title = pd.read_excel(file, header=None)
# dynamically printing title
print("\033[1m" + "Title: " + df_title.iloc[3, 0]  + "\033[0m")

# headers on row 5
df = pd.read_excel(file, header=5)

# ":," means select all rows, 0 is for the column
# this just gets rid of the tabs in the first column because they look weird when doing df.head()
# turning regex on means it'll find the \t anywhere in the string
df.iloc[:,0] = df.iloc[:,0].replace("\t", "", regex=True) 

# These rows were just descriptions of the rows underneath
# 0 said Both Sexes, 15 said Male, 30 said Female
df = df.drop([0, 15, 30])

all_both_sex = df.iloc[0:14].copy()
all_male = df.iloc[14:28].copy()     
all_female = df.iloc[28:42].copy()   

all_both_sex.rename(columns={df.columns[0]: 'Both Sex'}, inplace=True)
all_male.rename(columns={df.columns[0]: 'Male'}, inplace=True)
all_female.rename(columns={df.columns[0]: 'Female'}, inplace=True)

all_male

Title: Black Alone or in Combination

,Male,Total,None,1st - 4th grade,5th - 6th grade,7th - 8th grade,9th grade,10th grade,11th grade2,High school graduate3,"Some college, no degree","Associate's degree, occupational","Associate's degree, academic",Bachelor's degree,Master's degree,Professional degree,Doctoral degree
16,18 years and over,15987.0,37.0,70.0,100.0,156.0,171.0,265.0,1051.0,6163.0,3006.0,623.0,827.0,2367.0,862.0,128.0,161.0
17,18 to 24 years,2262.0,0.0,0.0,4.0,6.0,20.0,32.0,324.0,981.0,681.0,50.0,40.0,117.0,7.0,0.0,0.0
18,25 years and over,13725.0,37.0,70.0,95.0,150.0,152.0,233.0,728.0,5182.0,2325.0,573.0,787.0,2251.0,855.0,128.0,161.0
19,25 to 29 years,1723.0,2.0,0.0,9.0,9.0,4.0,22.0,52.0,772.0,329.0,38.0,72.0,347.0,41.0,22.0,5.0
20,30 to 34 years,1735.0,1.0,1.0,4.0,17.0,2.0,9.0,65.0,647.0,342.0,73.0,148.0,281.0,119.0,22.0,4.0
21,35 to 39 years,1544.0,6.0,10.0,2.0,12.0,13.0,37.0,86.0,490.0,251.0,76.0,93.0,340.0,100.0,16.0,10.0
22,40 to 44 years,1371.0,0.0,12.0,6.0,11.0,12.0,26.0,65.0,477.0,247.0,51.0,70.0,242.0,103.0,17.0,34.0
23,45 to 49 years,1228.0,8.0,1.0,3.0,1.0,15.0,17.0,48.0,452.0,209.0,74.0,67.0,213.0,100.0,9.0,11.0
24,50 to 54 years,1264.0,3.0,3.0,7.0,13.0,12.0,16.0,68.0,522.0,180.0,53.0,73.0,204.0,74.0,13.0,22.0
25,55 to 59 years,1257.0,3.0,6.0,10.0,9.0,18.0,24.0,76.0,509.0,196.0,51.0,74.0,188.0,79.0,7.0,9.0
26,60 to 64 years,1103.0,4.0,10.0,6.0,20.0,17.0,21.0,108.0,424.0,170.0,45.0,54.0,124.0,69.0,9.0,23.0
27,65 to 69 years,999.0,2.0,4.0,7.0,19.0,23.0,20.0,80.0,362.0,165.0,55.0,64.0,126.0,59.0,2.0,9.0
28,70 to 74 years,683.0,3.0,18.0,12.0,10.0,9.0,15.0,26.0,226.0,124.0,22.0,39.0,100.0,60.0,4.0,17.0
29,75 years and over,817.0,6.0,5.0,29.0,31.0,27.0,26.0,55.0,301.0,111.0,34.0,33.0,85.0,51.0,6.0,17.0

# Table 2

In [14]:
file = "Table2/table-2-3.xlsx"


# To print jut title like both sexes, male, female, just change the file name 
df_title = pd.read_excel(file, header=None)
# dynamically printing title
print("\033[1m" + "Title: " + df_title.iloc[3, 0]  + "\033[0m")


# headers on row 5
df = pd.read_excel(file, header=5)
df.iloc[:,0] = df.iloc[:,0].replace("\t", "", regex=True) 

marital_status = df.iloc[2:8].copy()  
household_relationship = df.iloc[9:19].copy()  
citizenship = df.iloc[20:26].copy() 
year_of_entry  = df.iloc[27:33].copy()  
labor_force_status = df.iloc[34:37].copy()  
occupation = df.iloc[38:49].copy()  
industry = df.iloc[50:64].copy()  

# Renaming first columns
marital_status.rename(columns={df.columns[0]: df.iloc[1, 0]}, inplace=True)
household_relationship.rename(columns={df.columns[0]: df.iloc[8, 0]}, inplace=True)
citizenship.rename(columns={df.columns[0]: df.iloc[19, 0]}, inplace=True)
year_of_entry.rename(columns={df.columns[0]: df.iloc[26, 0]}, inplace=True)
labor_force_status.rename(columns={df.columns[0]: df.iloc[33, 0]}, inplace=True)
occupation.rename(columns={df.columns[0]: df.iloc[37, 0]}, inplace=True)
industry.rename(columns={df.columns[0]: df.iloc[49, 0]}, inplace=True)

marital_status
household_relationship
citizenship
# year_of_entry
# labor_force_status
# occupation
# industry

Title: Male

,Labor Force Status,Total,None - 8th grade,9th - 11th grade2,High school graduate3,"Some college, no degree",Associate's degree4,Bachelor's degree,Master's degree,Professional degree,Doctoral degree
34,Employed,73959.0,2328.0,3166.0,20864.0,10496.0,7395.0,18967.0,7466.0,1381.0,1896.0
35,Unemployed,2567.0,107.0,239.0,996.0,391.0,182.0,458.0,156.0,16.0,24.0
36,Not in civilian labor force,33453.0,1606.0,2898.0,11221.0,5198.0,3039.0,5767.0,2534.0,463.0,725.0

# Table 3

In [19]:
file = "Table3/table-3.xlsx"

df_title = pd.read_excel(file, header=None)
# dynamically printing title
print("\033[1m" + "Title: " + df_title.iloc[1, 0]  + "\033[0m")


df = pd.read_excel(file, header=[3, 4])
df.iloc[:,0] = df.iloc[:,0].replace("\t", "", regex=True) 
df.rename(columns={df.columns[0][1]: ''}, inplace=True) # this was an unamed level previously

total = df.iloc[0:1].copy()

ele_or_hs_no_dip = df.iloc[2:10].copy()
ele_or_hs_no_dip.rename(columns={df.columns[0][1]: df.iloc[1, 0]}, inplace=True)

ele_or_hs_dip = df.iloc[11:19].copy()
ele_or_hs_dip.rename(columns={df.columns[0][1]: df.iloc[10, 0]}, inplace=True)

hs_dip = df.iloc[20:21].copy()

coll_no_deg = df.iloc[22:27].copy()
coll_no_deg.rename(columns={df.columns[0][1]: df.iloc[21, 0]}, inplace=True)

assoc_deg_voc = df.iloc[28:33].copy()
assoc_deg_voc.rename(columns={df.columns[0][1]: df.iloc[27, 0]}, inplace=True)

assoc_deg_acad = df.iloc[34:39].copy()
assoc_deg_acad.rename(columns={df.columns[0][1]: df.iloc[33, 0]}, inplace=True)

bach_deg_or_more = df.iloc[40:44].copy()
bach_deg_or_more.rename(columns={df.columns[0][1]: df.iloc[39, 0]}, inplace=True)

bach_deg_or_more

Title: Table 3. Detailed Years of School Completed by People 25 Years and Over by Sex, Age Groups, Race and Hispanic Origin: 2022

      Detailed years of school All people             Male           Female  \
   Bachelor's degree or higher     Number Percent   Number Percent   Number
40           Bachelor's degree    53045.0    23.4  25192.0    22.9  27853.0
41            Master's degree2    23881.0    10.6  10156.0     9.2  13725.0
42         Professional degree     3444.0     1.5   1860.0     1.7   1584.0
43            Doctorate degree     4848.0     2.1   2644.0     2.4   2203.0

           25 to 34 years old         35 to 54 years old  ...    White  \
   Percent             Number Percent             Number  ...   Number
40      24            12735.0    28.6            20874.0  ...  42000.0
41    11.8             4371.0     9.8            10412.0  ...  18299.0
42     1.4              491.0     1.1             1419.0  ...   2766.0
43     1.9              722.0     1.6             1960.0  ...   3553.0

           Non-Hispanic White           Black          Asian          \
   Percent             Number Percent  Number Percent Number Percent
40    23.9            37335.0    26.1  4897.0    17.1   4782    32.6
41    10.4            16774.0    11.7  2292.0       8   2774    18.9
42     1.6             2473.0     1.7   281.0       1    358     2.4
43       2             3302.0     2.3   413.0     1.4    778     5.3

   Hispanic (of any race)
                   Number Percent
40                 5348.0    14.5
41                 1737.0     4.7
42                  330.0     0.9
43                  282.0     0.8

[4 rows x 23 columns]